@import "@/styles/variable.scss";

#examine {
  padding: $page-padding;
  .img-box{
    display: flex;
    .img{
      margin-right: 10px;
    }
  }
}

#list /deep/ {
  .area-select .area-selected-trigger {
    padding: 0;
    padding-left: 12px;
  }

  .area-select-wrap .area-select {
    margin-left: 0px;
  }
}

.resu {
  color: red;
}
